/* Altug - 17.02.2022 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    display: contents;
    height: 100%;
    width: 100%
}

.licenses {
    white-space: pre-wrap;
}

.attributions {
    white-space: pre-wrap;
}

.canvas-layers {
    position: relative;
    width: 480px;
    height: 360px
}

.canvas-layers canvas {
    position: absolute;
    top: 0;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 800;
    letter-spacing: -1px
}

h2,
h3,
h4,
h5 {
    font-weight: 600
}

h1>span {
    line-height: 1.4 !important;
    margin-right: .5rem
}

h1[renkDegistir] {
    /*background: linear-gradient(92.7deg, #009900 -1.37%, #79c0ff 68.71%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent*/
}

p {
    white-space: pre-wrap;
}

.container {
    z-index: 100;
}

.consent {
    width: 650px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.consent h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem
}

.consent p {
    line-height: 1.6;
    margin-bottom: 1rem
}

.consent button {
    display: block;
    margin: 2rem auto;
    border: 1px solid #090;
    background-color: #0c0;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: .3rem
}

.consent button:hover,
.consent button:active {
    background-color: #090;
}

button {
    cursor: pointer
}

@media screen and (max-width:750px) {
    .consent {
        width: 85%;
        z-index: 100;
    }
}

#your-scores {
    color: blue;
}

#correct-scores {
    color: green;
}

#error-msg {
    color: red;
}

.centered {
    display: flex;
    justify-content: center;
	position: absolute;
    bottom: 0;
    width: 100%;
}

canvas {
    position: relative;
}

/* video {} */

/*
.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #015871;
}

.wave {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg") repeat-x;
    z-index: -1;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 27s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 27s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 27s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}
*/
@media screen and (max-width:1200px) {
    body {
        background-color: #fff8 !important;
        position: relative !important
    }
}

/* .footer {background:url("../img/footer.png") no-repeat; width:100%; height:247px; line-height:247px; padding-top:3rem; text-align:center; font-weight:600; color:#fff; z-index:0;} */
.footer-noanim {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 247px;
    line-height: 247px;
    padding-top: 3rem;
    text-align: center;
    font-weight: 600;
    color: #fff;
    z-index: 0;
}


.darkMode {
    background-color: #222 !important;
    color: #eee
}

.darkMode h2,
.darkmode .consent h3 {
    color: #fff !important
}

.darkMode a.textLink {
    color: #2c76d3;
    text-decoration: none;
    border-bottom: 1px dotted #2c76d3
}

.darkMode a.textLink:hover {
    color: #fff;
    border-bottom: 1px dotted #fff
}