<link rel="stylesheet" href={{ url_for('static', filename='styles.css')}}>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<h3>Add new image(s)</h3>
<p>Data for every uploaded image will be generated. This can take a long time.</p>
  
<form enctype="multipart/form-data"
action="/api/uploadImage"
method="POST">
    <label for="username">Username:</label>
    <input type="text" id="" name="user"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="" name="pass"><br><br>
    <input type="file" name="imagefiles" accept="image/png, image/jpeg" multiple>
    <input type="submit" name="Upload" value="Upload" />
</form>