{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="text-center text-light">Admin Dashboard</h1>
      <br />
      <div class="card bg-light mb-3">
        <div class="card-body">
          <p class="card-text">Users: {{ users_count }}</p>
          <a href="/manage_users" class="btn btn-secondary">Manage Users</a>
        </div>
      </div>
      <div class="card bg-light mb-3">
        <div class="card-body">
          <p class="card-text">Target Images: {{ target_images_count }}</p>
          <a href="/manage_target_images" class="btn btn-secondary"
            >Manage Target Images</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
