<!doctype html>
<html lang="en" class="darkMode">

<head>
    <title>facegame</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <meta name="description" content="Facegame.org">
    <link rel="manifest" href={{ url_for('static', filename='manifest.webmanifest' )}}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.css' )}}>
    <link rel="stylesheet" href={{ url_for('static', filename='icomoon/style.css' )}}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css' )}}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico' ) }}>

</head>

<body>

    <div id="menu-title" class="menu-title">
        <h1 class='logo-title'><span class="icon-hipster"></span> facegame</h1>
    </div>

    <div id="splashscreen-content">
        <div class="consent">
            <h3>How it works</h3>
            <p>When the game starts, we will show you an image of a random person. Your task is to mimic the facial
                expressions of that person as closely as possible</p>
            <p>The game is based on so called <em>Action Units</em>. If you want to learn more about action units, you
                can click <em>here.</em></p>
            <p>As soon as the difference in facial expressions was calculated, we highlight the differences in your
                picture and give you a small text on how to improve.</p>
            <p>In case you encounter any issues, please feel free to leave us a message.</p>

            <p id="error-msg"></p>

            <button id="allow-camera-btn" class="btn btn-primary button-centered">Enable Webcam</button>
            <button id="start-btn" class="btn btn-primary button-centered" style="display:none">Start &nbsp; <span class="icon-thumbs-o-up"></span></button>
        </div>
    </div>

    <div id="game-content" style="display: none;">
        <div class="container">
            <div class="row row-resp">
                <div class="col-resp col-lg-6 col-md-12 col-sm-12">
                    <canvas id="canvas-image" class="img-responsive img-rounded" width="480px" height="360px"></canvas>
                </div>
                <div class="col-resp canvas-layers col-lg-6 col-md-12 col-sm-12">
                    <canvas id="canvas-snapshot" class="img-responsive img-rounded" width="480px" height="360px" style="z-index: -1;"></canvas>
                    <canvas id="canvas-heatmap" class="img-responsive img-rounded" width="480px" height="360px"></canvas>
                    <canvas id="canvas-video" class="img-responsive img-rounded" width="480px" height="360px"></canvas>
                    <video id="video-input" autoplay playsinline width="480px" height="360px" style="display: none;"></video>
                </div>
                <!-- <video id="video-input" autoplay playsinline width="480px" height="360px"></video> -->
            </div>

            <div class="text-center pb-4">

                <div class="centered">
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <select id="camera-select-box" name="camera_select_box" class="form-control">
                                <!-- <option value="" disabled selected></option> -->
                            </select>
                        </div>
                        <div class="col-auto my-1">
                            <button id="retry-btn" type="button" class="btn btn-info">Retry</button>
                            <button id="new-game-btn" type="button" class="btn btn-success">New Game</button>
                        </div>
                    </div>

                </div>

                <h2 id="timer"></h2>
                <h2 id="jaccard-score"></h2>
                <h2 id="error-msg"></h2>
                <table id="prescription-table"> </table>



                <!--<div class="text-center mt-2">
                    <br><a href="/attributions" class="textLink">attributions</a> | <a href="/bugreport" class="textLink">report a bug</a> | &copy; 2022 - facegame<br>
                </div>-->
            </div>
        </div>



    </div>
    <div class="footer"><a href="/attributions" class="textLink">attributions</a> | <a href="/bugreport" class="textLink">report a bug</a> | &copy; 2022 - facegame</div>




    <!-- <a href="https://github.com/Actionable-Data-Science/facegame">Source Code on GitHub</a> -->

    <script src="https://www.lactame.com/lib/image-js/0.21.2/image.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api@1.7.8/dist/face-api.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='simple-hog.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='processing.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='simpleheat/simpleheat.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='feedictionary.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='description.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='heatmap.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='game-components.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='cam.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='splashscreen.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='visualization.js' )}} charset="utf-8"></script>
    <script type="text/javascript" src={{ url_for('static', filename='game.js' )}} charset="utf-8"></script>

</body>

</html>