{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-3 text-light">Welcome to facegame</h1>
      <p class="lead text-light">
        Unleash your expressions and join the revolution
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h2 class="text-primary animate__animated animate__fadeIn text-light">
        Express Yourself
      </h2>
      <p class="animate__animated animate__fadeIn text-light">
        facegame is more than just a game – it's an opportunity to dive into a
        world where your face becomes a canvas of emotions. Let your facial
        expressions tell a story, convey your feelings, and communicate without
        words. Experience the joy of expressing happiness, sadness, surprise,
        and a myriad of other emotions. With facegame, your face becomes a
        powerful tool for self-expression and connection.
      </p>
      <p class="animate__animated animate__fadeIn text-light">
        Join us on this exciting journey of exploring the limitless
        possibilities of facial expressions. Unleash your creativity, paint with
        your face, and discover the masterpiece of your own personality. Get
        ready to express yourself like never before!
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h2 class="text-primary animate__animated animate__fadeIn text-light">
        Revolutionary Research
      </h2>
      <p class="animate__animated animate__fadeIn text-light">
        facegame is not just about fun and games – it's also a pioneering
        initiative to advance facial recognition technology. By playing
        facegame, you contribute to cutting-edge research that helps train AI
        models to better understand and interpret human emotions.
      </p>
      <p class="animate__animated animate__fadeIn text-light">
        Join us in revolutionizing the way we interact with technology and
        fostering more accurate, inclusive, and empathetic systems. Your
        participation in facegame enables us to develop groundbreaking
        applications that enhance human-computer interaction, improve mental
        health analysis, and promote greater emotional understanding in our
        digital world.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h2 class="text-primary animate__animated animate__fadeIn text-light">
        Play Anonymously
      </h2>
      <p class="animate__animated animate__fadeIn text-light">
        We understand the importance of privacy, which is why we offer the
        option to play facegame anonymously. As an anonymous player, no
        identifiable information or images will be collected. You can still
        enjoy the excitement of the game and contribute to the research by
        providing anonymized data such as scores. We respect your privacy and
        ensure that your participation remains confidential and secure.
      </p>
      <br />
      <a
        href="/anonymous"
        class="btn btn-primary animate__animated animate__fadeIn"
        >Play Anonymously</a
      >
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h2 class="text-primary animate__animated animate__fadeIn text-light">
        Sign Up and Donate Data
      </h2>
      <p class="animate__animated animate__fadeIn text-light">
        By signing up and choosing to donate your data, you become an active
        participant in shaping the future of facial recognition technology. Your
        contributions help us train AI models to accurately detect and interpret
        facial expressions, benefiting fields such as healthcare, human-computer
        interaction, and emotion analysis.
      </p>
      <p class="animate__animated animate__fadeIn text-light">
        We believe in transparency and control. As a registered user, you retain
        full control over your data. You can delete your data at any time,
        request a copy for your records, and have peace of mind knowing that
        your information is handled with the utmost care and respect. Together,
        we can create a world where technology understands and embraces the
        depth of human emotions.
      </p>
      <br />
      <a
        href="/register"
        class="btn btn-primary animate__animated animate__fadeIn"
        >Sign Up and Donate Data</a
      >
    </div>
  </div>
</div>
{% endblock %}
