{% extends 'base.html' %} {% block content %}
<br />
<center>
  <h1 style="color: white">Informed Consent</h1>
</center>

<!-- We should add the option to download this -->
<div class="container mt-4" style="color: white">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium
    aliquam mi, sed faucibus odio pellentesque sed. Fusce a metus a mauris
    finibus hendrerit ut vitae ipsum. Proin suscipit mauris vel tristique
    interdum. Vestibulum nec dolor lacinia, lobortis lectus eu, consectetur ex.
    Suspendisse nec elit eget neque posuere ultricies. Suspendisse ut orci
    risus. Aliquam fringilla tellus sit amet sem vestibulum, sed dignissim
    libero viverra. Nam eget tempor odio. Suspendisse faucibus felis a purus
    eleifend, vel tristique nunc vestibulum. Sed ac efficitur eros. Duis
    pellentesque dolor mi, non fringilla ex vestibulum eget. Nullam nec turpis
    sagittis, iaculis metus ac, aliquet erat. Maecenas vestibulum rutrum urna,
    nec sodales mi consectetur id. Proin tristique, erat ac tincidunt viverra,
    nunc augue lacinia mauris, vel ullamcorper neque risus in dolor.
  </p>
  <p>
    Sed rutrum orci nec turpis ullamcorper, sed blandit enim semper. Ut semper
    congue est, in pulvinar leo ultricies sit amet. Etiam vehicula dolor at
    ligula tempus, a efficitur tellus dignissim. Sed eleifend, dolor et
    vestibulum rhoncus, leo felis sollicitudin metus, at commodo purus nisi ac
    velit. Nullam tristique interdum ligula, nec tempor risus tempus et.
    Praesent malesuada nulla id neque rutrum, nec suscipit enim tincidunt.
    Curabitur nec est in turpis fringilla luctus. Donec tempus tincidunt ligula
    nec lobortis. Aenean rutrum hendrerit nunc vel vestibulum. Quisque malesuada
    diam sed lorem cursus, non dignissim mi congue. In ullamcorper libero eu
    dolor viverra, et scelerisque ante congue. Integer tristique, ligula in
    auctor vulputate, nisl tellus sollicitudin libero, ut aliquam neque ex et
    dui.
  </p>
</div>
{% endblock %}
