<!-- registration.html -->
{% extends 'base.html' %} {% block content %}
<br />
<center>
  <h1>The Login Page</h1>
</center>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}

<br />
<div class="shadow p-3 mb-5 bg-body rounded">
  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.username.label(class="form-label") }} {{
      form.username(class="form-control") }}
    </div>
    <br />
    <div class="form-group">
      {{ form.password.label(class="form-label") }} {{
      form.password(class="form-control") }}
    </div>
    <br />

    <br />
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>

{% endblock %}
