{% extends 'base.html' %} {% block content %}
<br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="text-white text-center">Manage Target Images</h1>
      <br />
      <div class="text-right mb-3">
        <a href="/add_target_image" class="btn btn-primary">Add New Image</a>
      </div>
      <div id="flash-messages"></div>
      <table
        class="table table-dark table-striped table-bordered"
        style="color: white"
      >
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Preview</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class="tbody-dark">
          {% for target_image in target_images %}
          <tr>
            <td>{{ target_image.id }}</td>
            <td>{{ target_image.user_id }}</td>
            <td>
              <img
                src="/api/get_target_image/{{ target_image.id }}"
                alt="Image"
                class="img-thumbnail"
              />
            </td>
            <td>
              <a
                href="#"
                class="delete-target-image"
                data-target-image-id="{{ target_image.id }}"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(".delete-target-image").click(function (e) {
      e.preventDefault();
      var targetImageId = $(this).data("target-image-id");
      var confirmation = confirm(
        "Are you sure you want to delete this target image?"
      );
      if (confirmation) {
        var url = "/api/delete_target_image/" + targetImageId;
        $.ajax({
          url: url,
          type: "POST",
          success: function (response) {
            if (response.success) {
              // Store success flash message in local storage
              localStorage.setItem(
                "flashMessage",
                JSON.stringify({
                  type: "success",
                  message: "Target image deleted successfully",
                })
              );
            } else {
              // Store warning flash message in local storage
              localStorage.setItem(
                "flashMessage",
                JSON.stringify({
                  type: "warning",
                  message: "Failed to delete target image",
                })
              );
            }
            // Reload the page
            location.reload();
          },
          error: function (xhr, status, error) {
            console.log("Error deleting target image:", error);
            // Store error flash message in local storage
            localStorage.setItem(
              "flashMessage",
              JSON.stringify({
                type: "danger",
                message: "An error occurred while deleting target image",
              })
            );
            // Reload the page
            location.reload();
          },
        });
      }
    });

    function showFlashMessage(type, message) {
      var alertClass = "alert-" + type;
      var flashMessage = $("<div>")
        .addClass("alert " + alertClass)
        .text(message);
      $("#flash-messages").append(flashMessage);
    }

    // Retrieve and display flash message after page reload
    var storedFlashMessage = localStorage.getItem("flashMessage");
    if (storedFlashMessage) {
      var flashMessage = JSON.parse(storedFlashMessage);
      showFlashMessage(flashMessage.type, flashMessage.message);
      // Remove flash message from local storage
      localStorage.removeItem("flashMessage");
    }
  });
</script>
{% endblock %}
