<!doctype html>
<html lang="en" class="darkMode">

<head>
    <title>Consent</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <meta name="description" content="Facegame.org">
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.css')}}>
    <link rel="stylesheet" href={{ url_for('static', filename='icomoon/style.css')}}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css')}}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>
</head>

<body>

    <style>
        html,
        body {
            overflow: hidden
        }
    </style>
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="consent">
        <h1 renkdegistir><span class="icon-hipster"></span> facegame</h1>

        <h3>Report an error</h3>
        <p>Encountered a bug? Let us know!</p>

        <div class="input-group">
            <textarea id="bug-input-text" class="form-control" aria-label="With textarea" rows=2 placeholder="Please describe the error that you encountered..."></textarea>
            <div class="input-group-append">
                <button id="send-btn" class="input-group-text">Send report</button>
            </div>
        </div>
        <p id="bug-sent-text"></p>

    </div>

    <div class="footer-noanim">&copy; 2022 - facegame</div>

    <script type="text/javascript" src={{ url_for('static', filename='bugreport.js')}} charset="utf-8"></script>
</body>

</html>